.cover__link {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 16px;
  min-height: calc(100vw/1.6);
  z-index: 1;
}

.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.4s;
  z-index: -1;
}

.cover__link:hover::after {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .cover__link {
    row-gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__link {
    min-height: 740px;
  }
}
