.photo-grid {
  width: 288px;
  min-height: 2724px;
  margin: 0 auto;
  padding: 64px 0;
  display: grid;
  column-gap: 12px;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: row;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    width: 720px;
    min-height: 1664px;
    padding: 88px 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 16px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    width: 928px;
    min-height: 942px;
    padding-bottom: 92px;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px 14px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    width: 1184px;
    min-height: 671px;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 16px;
  }
}
