.place__text {
  max-width: 288px;
  margin: 32px auto 0 auto;
}

@media screen and (min-width: 768px) {
  .place__text {
    max-width: 352px;
    margin: 0;
  }

}

@media screen and (min-width: 1024px) {
  .place__text {
    max-width: 456px;
  }
}

@media screen and (min-width: 1280px) {
  .place__text {
    max-width: 484px;
  }
}
