.place {
  margin-bottom: 50px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: 47.22% 1fr;
    grid-template-rows: minmax(46px 92px) 1fr;
    gap: 48px 28px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    grid-template-columns: calc((440*100)/1024) 1fr;
    grid-template-rows: minmax(76px 152px) 1fr;
    gap: 48px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: calc((460*100)/1280) 1fr;
    gap: 48px 40px;
  }
}
