.cover__title {
  width: 250px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .cover__title {
    width: 560px;
    height: 152px;
    font-size: 72px;
    line-height: 76px;
  }
}

